body{
    background-color: black;
}

#clock-container{
   display: flex;
    justify-content: center;
    align-items: center;
}

/* 

#clock span{
   font-family: 'Sixtyfour', sans-serif;
   font-size: 4rem;
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}

#clock {
    position: relative;
    margin: 250px auto 0;
    width: 70%;
    height: 200px;
    color: transparent;
    background: linear-gradient(0deg, #1d1e22, #42444d);
}

#clock:before, #clock:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: glow 50s linear infinite;
}

#clock:after {
    filter: blur(30px);
}
@keyframes glow {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 500% 0;
    }
    100%{
        background-position: 0 0;
    }
}
     */

#clock {
    position: relative;
    margin: 250px auto 0;
    width: fit-content;   
    padding: 20px 50px;
    height: 200px;
    border-radius: 15px;
    background: #111; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#clock::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 4px; 
    background: linear-gradient(90deg, #0f0, #ff0, #f0f, #0ff);
    background-size: 300% 300%;
    animation: glow 6s linear infinite;
    
   
    -webkit-mask: 
      linear-gradient(#000 0 0) content-box, 
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

#clock::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 4px;
    background: linear-gradient(90deg, #0f0, #ff0, #f0f, #0ff);
    background-size: 300% 300%;
    animation: glow 6s linear infinite;
    filter: blur(35px);   
    opacity: 0.8; 
    z-index: -1;
}

#clock span {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 4rem;
    background: linear-gradient(90deg, #0f0, #ff0, #f0f, #0ff);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 6s linear infinite;
}

@keyframes glow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}